/* Google font use  */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* header container-one  start */

.first-container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.container-one {
    display: flex;
    align-items: center;
    background-color: #161616;
    border-radius: 30px;
    width: 80%;
    height: 80vh;
    padding: 50px;
    padding-bottom: 0%;

}

a {
    text-decoration: none;
    color: white;
}

.all-nav .btn-white {
    color: #161616;
}

.show {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.font-all {
    color: #FFFFFF;
}

.show h1 {
    font-weight: 700;
    font-size: 40px;
}

.btn-one {
    background-color: #DD0000;
    padding: 16px 35px;
    width: 30%;
    color: #FFFFFF;
    gap: 10px;
    border-radius: 10px;
    min-width: 180px;
}



.banner-image {
    width: 50%;

}

.banner-image img {
    width: 100%;
    height: 100%;

}

/* header container-one  end here */


/* <!---------------------------------------------------------
         Nav bar create like upcoming match, all group, Blog 
    ----------------------------------------------------------> */
.container-nav {
    width: 312px;
    background-color: #161616;
    justify-content: center;
    align-items: center;
    margin-left: 140px;
    height: 312px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 10px;
}


.all-nav {
    width: 252px;
    height: 252px;
}

.all-nav button {
    width: 252px;
    height: 64px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 30px;
    font-weight: 500;
    font-size: 20px;

}

.all-nav .btn-red {
    background-color: #DD0000;
    color: white;
}


/*----------------------------
 blogs type pic and details  
 ----------------------------*/

.container-second {
    display: flex;
    margin-top: 40px;
    width: 100%;
}


.blogs {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
}

.blog {
    width: 275px;
    height: 380px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

div img {
    width: 275px;
    height: 175px;
}

h3 {
    font-weight: 600;
    font-size: 18px;
}

.blog .transfer {
    font-weight: 500;
    font-size: 15px;
    border: 1px solid #161616;
    border-radius: 5px;
    width: 67px;
    height: 24px;
    padding: 2px 15px;
}

.blog-information {
    margin-left: 10px;
}

.main-timer {
    display: flex;
    align-items: center;
    gap: 20px;
}


/* --------------------------
  footer input now for blog
---------------------------- */

footer {
    background-color: #161616;
    width: 100%;
    height: 70%;
}

.h2-size {
    font-weight: 600;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    width: 1320px;
    height: 0px;
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.privacy>div {
    display: flex;
    justify-content: center;
}

footer div p {
    margin-left: 20px;
}


/*-------------------------------------------
    upcoming flag and match time and date 
--------------------------------------------*/

.upcoming-match {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    width: 500px;
}

.upcoming-match .matches {
    width: 275px;
    height: 242px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.match {
    width: 250px;
    height: 170px;
    margin: 50px 15px;
}

.flag {
    display: flex;
    width: 240px;
    height: 56.18px;
    align-items: center;
    justify-content: space-between;
}

.flag img {
    width: 93.04px;
    height: 56.18px;
}

article {
    text-align: center;
}

article .font-cng {
    font-weight: 600;
    font-size: 20px;
}

/*------------------------------------------- 
Responsive the site using media quaries
------------------------------------------- */


/* ipad or tablet */

@media only screen and (min-width:688px) and (max-width:992) {
    .container-one {
        width: 100%;
    }

    .show {
        width: 50%;
    }

    .font-all {
        font-size: 5px;
    }

    .container-nav .all-nav {
        flex-direction: row;
    }
}


/* mobile phone  */

@media only screen and (max-width:687px) {
    .container-one {
        flex-direction: column;
        height: 100%;
        text-align: center;
        padding: 0%;
    }

    .container-second {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .all-nav {
        margin-left: 0%;

    }

    .container-nav {
        margin-left: 0%;

    }

    .privacy>div {
        flex-direction: column;
        align-items: center;
    }
}